<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body><h1>REGISTRATION FORM</h1>
<style>
         body{background: #bde9ba ;
         border: 350px solid green ;
         border-radius:8px;
          text-align:center;

        }

    </style>

<form  method="post" action="register">
    {% csrf_token %}

    <input type="text" name="username" placeholder="Enter Your Name"><br>
    <input type="text" name="first_name" placeholder="Enter Your First Name"><br>
    <input type="text" name="last_name" placeholder="Enter Your Last Name"><br>
    <input type="email" name="email" placeholder="Enter Your Mail Id"><br>
    <input type="password" name="password" placeholder="Enter Your password"><br>
    <input type="password" name="password1" placeholder="Confirm Your Password"><br>
    <input type="Submit"><br>

</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>
